@page "/counter"
@inject IRepositorios repositorio
@inject IJSRuntime js
@*El siguiente atributo solo funciona en componentes que tengan el atributo page en los demás no se puede*@
@*@attribute [Authorize(Roles = "kkk,admin")]*@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private static int currentCountSatic = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        currentCountSatic++;
        await js.InvokeVoidAsync("pruebaPuntoNetStaic");
    }
    [JSInvokable]
    public static Task<int> ObtenerCurrentCount()
    {
        return Task.FromResult(currentCountSatic);
    }
}
